body {
    margin: 0;
    height: 100vh;
    width: 100%;
    background-color: #232323;
    color: #dedede;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    place-items: center;
}

.back-link {
    position: absolute;
    right: 1em;
    top: 1em;
    background-color: #dedede;
    color: #232323;
    padding: 0.5em 1.5em;
    border-radius: 4px;
}

.screenshot {
    max-width: 100%;
    width: 400px;
    height: 300px;
}

main {
    width: 100%;
    max-width: 400px;
    height: 300px;
    background:#F3F3F3;
}

.wrapper {
    margin: 25px 15px;
}

#top {
    display: flex;
    gap: 50px;
}

#grid-one,
#grid-two,
#grid-thr {
    width: 150px;
    height: 150px;
    display: grid;
    grid-template-columns: repeat(3, 50px)
}

#grid-one div:nth-child(even),
#grid-two div:nth-child(even),
#grid-thr div:nth-child(even) {
    background: #C64F4F;
}

#grid-thr {
    margin: 0 auto;
    margin-left: 100px;
    margin-top: -50px;
}

@media (min-width: 400px) {
    .wrapper {
        margin: 25px;
    }
}