body {
    margin: 0;
    height: 100vh;
    width: 100%;
    background-color: #232323;
    color: #dedede;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-link {
    position: absolute;
    right: 1em;
    top: 1em;
}

.back-link,
.repo-link {
    background-color: #dedede;
    color: #232323;
    padding: 0.5em 1.5em;
    border-radius: 4px;
}

.jay {
    width: 100%;
    max-width: 400px;
    height: 300px;
    background: #F3AC3C;
    position: relative;
}

#one,
#two {
    border-radius: 0 0 90px 90px;
}

#one {
    position: absolute;
    top: 93px;
    left: 152px;
    width: 80px;
    height: 19px;
    background: #998235;
    border-radius: 0;
}

#two {
    height: 95px;
    width: 46px;
    background: #998235; 
    position: relative;
    top: 100px;
    left: 166px;
    border-left: 5px solid #998235;
}

#two::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 44px;
    width: 50px;
    height: 25px;
    border-radius: 0 0 90px 90px;
    background: #F3AC3C;
    z-index: 10;
    border: 7px solid #998235;
    border-top: none;
    margin-top: 45px
}

#two::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 27px;
    border-radius: 0;
    border-bottom: 33px solid #998235;
    border-right: 25px solid transparent;
    border-left: 25px solid transparent;
}

/* wraps main section */
.wrapper {
    padding: 2em 0;
    border: 1px solid #998235;
    margin-top: 4em;
    background-color: #232323 !important;
    color: #dedede;
    width: 100%;
}

.main {
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.screenshot {
    max-width: 450px;
    width: 100%;
    height: 300px;
}

.text {
    margin: 2em 1em;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em !important;
}

.text p {
    line-height: 1.5rem;
}

code {
    background: #343434;
    font-size: 1rem;
    padding: 0.1rem 0.5rem;
}

.repo-link {
    background-color: #dedede;
    color: #232323;
    width: max-content;
}

@media (min-width: 600px) {
    .wrapper {
        width: 70vw;
    }

    .wrapper section {
        flex-direction: row;
        gap: 4em;
    }

    .text {
        margin: 2em auto;
        flex-direction: column !important;
        width: 75%;
    }
}