img {
    max-width: 100%;
    width: 450px;
    height: 300px;
}

body,
main,
#grid {
    display: grid;
}

.back-link {
    position: absolute;
    right: 1em;
    top: 1em;
    background-color: #dedede;
    color: #232323;
    padding: 0.5em 1.5em;
    border-radius: 4px;
}

body {
    margin: 0;
    height: 100vh;
    width: 100%;
    background-color: #232323;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body,
main {
    place-items: center;
}

main {
    width: 100%;
    max-width: 400px;
    height: 300px;
    background: #4A9A86;
}


#grid {
    width: 250px;
    height: 150px;
    grid-template-columns: repeat(5, 1fr);
}

div:nth-child(even) {
    background-color: #FAE29E;
}

.wrapper {
    background-color: #232323 !important;
    color: #dedede;
    width: 70vw;
}

.wrapper section {
    display: flex;
    justify-content: center;
    gap: 4em;
}


.text {
    margin: 2em auto;
    width: 50vw;
    display: flex;
    justify-content: center;
}

code {
    background: #454545;
    font-size: 1rem;
}